.breadcrumbs {
    padding-left: 0;
    display: flex;    

    .crumb {
        color: #fff;
        list-style: none;
        margin-right: 0.7rem;
        transition: all .7s ease;

        &:after {
            margin-left: 0.7rem;
            content: ">";
        }

        &:last-child {
            &::after {
                content: none;
            }
        }

        a {
            color: #fff;
            text-decoration: none;

            &:hover{
                opacity: .7;
                transition: all .7s ease;
            }
        }
    }
}
